.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0;
    background: var(--gray-050);
    border-radius: 20px;
    margin-bottom: 1rem;

    font-size: 6rem;
    color: var(--blue-900);
}