.card {
    background-image: url(https://images.unsplash.com/photo-1529973625058-a665431328fb?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center center;

    max-width: 100rem;
    margin: 2rem 2rem;
    padding: 10rem 1rem;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 820px) {
    html {
        font-size: 87.5%;
    }

    .card {
        text-align: center;
    }
}